h1{
    font-size: 30px;
    color: red;
    background-color:black;
    text-align: center;
}
p{
    font-size: 25px;
    border: 2px solid blue;
    padding: 20px;
}

body{
    background-color: #808080;
    font-family: sans-serif;
}
h2,h3{
    display: inline;
}